<!-- <div id="container">
  <a><img src="/assets/home/events.svg" class="icon-center" alt="Edge"></a>
  <div id="icons">
    <div *ngFor="let item of items">
      <div class="icon {{item.class}}">
        <a (click)="onEventClick(item.id)">
          <app-icon [icon]="item.name" [name]="item.caption"></app-icon>
        </a>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
<h1 style="text-align: center;">Events</h1>
  <div id="icon">
    <div *ngFor="let item of items">
      <div class="col-xs-4 col-sm-4 col-md-2 ">
        <!-- <div class="icon {{item.class}}">
          <a (click)="onEventClick(item.id)">
            <app-icon [icon]="item.name" [name]="item.caption"></app-icon>
          </a>
        </div> -->

        <mat-card class="example-card">
          <mat-card-header>
            <app-icon [icon]="item.name" [name]="item.caption"></app-icon>
            <mat-card-title>{{item.caption}}</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <!-- <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content> -->
        </mat-card>
      </div>
      
    </div>
  </div>
</div>
