<!-- <div id="container">
  <a><img src="/assets/home/events.svg" class="icon-center" alt="Edge"></a>
  <div id="icons">
    <div *ngFor="let item of items">
      <div class="icon {{item.class}}">
        <a (click)="onEventClick(item.id)">
          <app-icon [icon]="item.name" [name]="item.caption"></app-icon>
        </a>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
<h1 style="text-align: center;margin-right: 11vw;" class="vhs-message">Events</h1>
  <div id="icon">
    <div *ngFor="let item of items">
      <div class="col-xs-6 col-sm-4 col-md-2 " >
        <div class="icon {{item.class}}"  >
          <a (click)="onEventClick(item.id,item.caption)">
            <app-icon [icon]="item.name" [name]="item.caption"></app-icon>
          </a>
        </div>
      </div>
      
    </div>
  </div>
</div>
