<div id="container">
<h1 style="text-align: center;margin-right: 11vw;" class="vhs-message">{{event_name}}</h1>
  <!-- <a><img src="/assets/events/{{details['icon']}}" class="icon-center" alt="{{details['name']}}"></a> -->
  <div id="icons">
    <!-- <div *ngFor="let item of details['subEvents']">
      <div class="icon {{item.class}}">
        <a (click)="openModal(item.id)">
          <app-icon [icon]="item.icon" [name]="item.name"></app-icon>
        </a>
      </div>
    </div> -->
    <ng-container *ngIf="intra; else elseTemplate">
      <div *ngFor="let item of details['subEvents']">
        <div class="icon {{item.class}}">
          <a (click)="openModal(item.id)">
            <app-icon [icon]="item.icon" [name]="item.name"></app-icon>
          </a>
        </div>
      </div>  
    </ng-container>

    <ng-template #elseTemplate>
    <p>{{desc}}</p>
      <h2 class="updating">Comming soon</h2>
    </ng-template>  
    
  </div>
</div>
