<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  
  <button *ngIf="mobileQuery.matches" mat-icon-button (click)="snav.toggle()" style="position: absolute;
                         top: 26px;
                         background: #b33125;
                         border: none;
                         z-index: 8;">
                      <mat-icon>dashboard</mat-icon></button>
                
  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0" 
                         [style.paddingBottom.px]="mobileQuery.matches ? 56 : 0"
                         style="background: none;margin-top: 56px;height: 100%">
                         
                       
                     
    <mat-sidenav #snav [opened] = "mobileQuery.matches ? 'false' : 'true'" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" style="background: none; top: 15vh;">      
    <mat-nav-list>
      <div>
        <img src="../../assets/edge-logo.png" width="100px" style="padding-left:20px;">
    </div>
    <a mat-list-item [routerLink]=nav *ngFor="let nav of fillerNav" style="color: white;">
      <!-- <img src='../../assets/home/{{nav}}.svg'   style="width: 20px;padding-right: 8px;"> -->
      {{nav}}
    </a>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <router-outlet > 
      </router-outlet>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
</div>


