#timer{
    color: white;
    text-align: center;
    font-size: 4vh;
    margin-top: 2rem;
    
  }
  
  p {
    color: #fff;
    font-weight: bold;
    margin-left: 2vw;
  }
  
  #dates {
    text-align: center;
    font-size: 1.1rem;
    
  }
  
  footer {
    position: fixed;
    left: calc(58vw - 15vh);
    bottom: 0;
    text-align: center;
    padding-bottom: 10px;
  
    p:hover {
      color: #ccc;
    }
  
    #social {
    
      p {
        display: inline;
        font-size: 1.5rem;
      }
    }
  }
  
  @media (min-width: 768px){
    #timer {
      font-size: 6vh;
      margin-top: 0;
      position: fixed;
    top: 72vh;
    left: calc(50vw - 20vh);
    }

    #dates {
        position: fixed;
        top: 82vh;
        left: calc(50vw - 15vh);
      }
  
    .buffer {
      height: 65vh;
    }
  
    p {
      display: inline;
    }

    ::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
  
    footer {
      position: fixed;
      left: 40px;
      bottom: 10px;
      width: 100%;
      text-align: center;
      margin-top: 15vh;
      padding: 0 5vw;
    }
    
    #social {
      float: right;
    
      p {
        font-size: 1.5rem;
      }
    }
  }
  
  #fb:hover{
    color: #4867aa;
  }
  
  #tweet:hover{
    color: #1ea1f2;
  }
  
  #insta:hover{
    color: #d73774;
  }
  
  #yt:hover{
    color: #ff0000;
  }
  
  $primaryColor: #fff;
  $secondaryColor: #333;
  $steps: 20;
  
  