/* You can add global styles to this file, and also import other style files */
//$dialog-position-top: 12vh;

@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
// @import url('../src/assets/hacked.ttf'); 
@import "~ngx-smart-modal/ngx-smart-modal.scss";
@font-face {

  font-family: 'HACKED' ;
  src: url('../src/assets/hacked.ttf') format('truetype');

}

*{
  
  font-family: 'HACKED';
  font-weight: 100;
}

.scanlines {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 300;
  opacity: .6;
  will-change: opacity;
  animation: opacity 3s linear infinite;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
    background-size: 100% 4px;
    will-change: background, background-size;
    animation: scanlines .2s linear infinite;
  }
}


html, body{
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
  // background: url('https://wallpapercave.com/wp/wp1923643.jpg');
  // background-image: cross-fade();;
}

body{
  background: lighten(#1d0101,5%);	
  animation: blue-me 5ms infinite;
  background-color: #191818;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23191818' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%231e1d1d' href='%23s' y='2'/%3E%3Cuse fill='%231e1d1d' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23222121' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23222121' href='%23s'/%3E%3Cuse fill='%23272626' href='%23s' x='2'/%3E%3Cuse fill='%23272626' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%232b2a2a'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%232b2a2a'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23302f2f'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23191818'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23353434'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23cc2f2f'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23cc2f2f'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23cc2f2f'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
  
}


body:after {   
 box-shadow: inset 0 0 10em rgba(0,0,0,0.75);
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -1;
 content: "";
}
body {
  scrollbar-face-color: #000000;
  scrollbar-shadow-color: #2D2C4D;
  scrollbar-highlight-color:#7D7E94;
  scrollbar-3dlight-color: #7D7E94;
  scrollbar-darkshadow-color: #2D2C4D;
  scrollbar-track-color: #7D7E94;
  scrollbar-arrow-color: #C1C1D1; 
}
.updating{
   color: white;
    position: relative;
    top: 22vh
}

.guest_caption{
  text-align: center;
  padding: 20px;
}
@keyframes blue-me {
	28%{ background: #000; }
  30% { background:rgba(#000,0.95);}
	33%{ background: #000; }
	34% { background:rgba(#000,0.9);}
	35%{ background: #000; }
}

.vhs-message{
  margin-top:9vh;
	animation: track 5ms infinite;
   position: relative;
	
}
h1{
	
	font-size: 3em;
	left: 0;
	color: #fff;
	color: #fff;
	text-shadow: 	1px 3px black, 
						-2px -3px red;
}



.vhs-message span{
  	animation: 	blur 30ms infinite, 
					flick 50ms infinite,
					jump 50ms infinite;
		
}
@keyframes blur {
  0%   { filter: blur(1px); opacity:.4;}
  50% { filter: blur(1px); opacity:.8; }
  100%{ filter: blur(1px); opacity:.4; }
}
@keyframes flick {
  50% { left:2px; }
  51% { left:0; }
}
@keyframes jump {
  30% { top:10px; }
  31% { top:0; }
}

//From Greg Opperman
//https://codepen.io/gopperman/pen/dElzr?editors=001
@keyframes track {

  40% { 	opacity:.5; 
	  		top:0; 
	  		left:0;  
	  		transform:scale(1,1);  
	  		transform:skew(0,0);}
  41% { 	opacity:0.2; top:0px; left:-100px; 
	  		transform:scale(1,1.2);  
	  		transform:skew(50deg,0);}
  42% { 	opacity:0.2; 
	  		top:0px; 
	  		left:100px; 
	  		transform:scale(1,1.2);  
	  		transform:skew(-80deg,0);}
  43% { 
	  		opacity:.5; 
	  		top:0; 
	  		left:0; 
	  		transform:scale(1,1);  
	  		transform:skew(0,0);}
}



//Lines
.screen-bottom{
	position: fixed;
	bottom: 0;
	width: 100%;
}

.line{
	width: 100%;
	height: 3px;
	position: relative;
	animation: 	appear 1s infinite, 
					flick 1s infinite,
					big-jump 5ms infinite;
	.white{
		background: #8f261d;
		position: relative;
		top:0;
		left: 0;
		height: 4px;
	}
	.red{
		background: #8f261d;
		position: relative;
		top:0;
		left: 0;
		height: 1px;
	}
	.green{
		background: green;
		position: relative;
		top:0;
		left: 0;
		height: 1px;
	}
}
@keyframes appear {
  0%   { filter: blur(5px); opacity: 0.45;}
  50% { filter: blur(3px); opacity: 0.45;}
  100%{ filter: blur(4px); opacity: 0.45;}
}

@keyframes big-jump {
	0% { top:0; }
 	10% { top: -100px; }
	12% { top:0; }
	54% { top:0; }
	55% { top: -300px; }
	56% { top:0; }
	86% { top:0; }
	87% { top: -600px; }
	88% { top:0; }
}


a, a:hover{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.nsm-dialog {
  max-width: 5000px;

  .nsm-content {
    background-color: rgba(26, 26, 26, .9);
    color: #fff;
  }
}

.nsm-dialog-btn-close {
  color: #fff;
  font-size: 2em;
}

.nsm-body * {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;

  h1 {
    text-align: center;
  }

  img {
    max-width: 600px;
    height: auto;
    width: 100%
  }
}

.icon-center {
  display: block;
  width: 69%;
    position: relative;
    left: calc(53vw - 20vh);
}

.logo-center{
  display: block;
}

.icon {
  width: 20vh;
  height: 20vh;
  margin-top: 3rem;

  img {
    width: 20vh;
    height: 20vh;
  }
}

#icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.result-div {
  overflow: auto;
}

.content-centered {
  text-align: center;

  * {
    text-align: center;
  }
}

.button {
  display: inline-block;
  font-size: 1.5rem;
  background-color: #ea2528;
  padding: 6px 10px;
  border-radius: 5px;
}

.result-table {
  min-width: 800px;
  width: 100%;
  border-collapse: collapse;

  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .icon-center {
    display: block;
    width: 40vh;
    height: 40vh;
    position: fixed;
    top: 27vh;
    left: calc(50vw - 20vh);
  }

  @media (min-width: 768px) {
    .logo-center {
      display: block;
      width: 30vh;
      height: 30vh;
      // position: absolute;
      // top: 35vh;
      // left: calc(50vw - 15vh);
    }
  }

  .icon {
    // width: 15vh;
    // height: 15vh;
    // position: relative;
    // top: 42.5vh;
    // margin-top: 0;
    // left: calc(50vw - 7.5vh);

    img {
      width: 15vh;
      height: 15vh;
    }
  }

  #icons {
    // margin-top: 0;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }
}

// Loading animation

div.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #fff;

  p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 1em 0 0 0;
    font-size: 16px;
  }
}

$color: black;
$size: 100px;
$borderWidth: 4px;
$totalTime: 1.5s;
$redWidth: 27%;
$orangeHeight: 50%;
$whiteWidth: 23%;

div.logo {
  width: $size;
  height: $size;
  box-sizing: border-box;
  position: relative;
  background-color: #1a1a1a;
  &::before,
  &::after {
    z-index: 1;
    box-sizing: border-box;
    content: '';
    position: absolute;
    border: $borderWidth solid transparent;
    width: 0;
    height: 0;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  &::before {
    top: 0;
    left: 0;
    animation: border-before $totalTime infinite;
    animation-direction: alternate;
  }
  &::after {
    bottom: 0;
    right: 0;
    animation: border-after $totalTime infinite;
    animation-direction: alternate;
  }
  & > div {
    position: absolute;
    opacity: 0;
  }
  div.white {
    border-left: $borderWidth solid $color;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    animation: white $totalTime infinite;
    animation-direction: alternate;
  }
  div.orange {
    border-top: $borderWidth solid $color;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0;
    background-color: #F3B93F;
    animation: orange $totalTime infinite;
    animation-direction: alternate;
  }
  div.red {
    border-right: $borderWidth solid $color;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #EA5664;
    animation: red $totalTime infinite;
    animation-direction: alternate;
  }
}

@keyframes border-before {
  0% {
    width: 0;
    height: 0;
    border-top-color: $color;
    border-right-color: transparent;
  }
  12.49% {
    border-right-color: transparent;
  }
  12.5% {
    height: 0;
    width: 100%;
    border-top-color: $color;
    border-right-color: $color;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-top-color: $color;
    border-right-color: $color;
  }
}

@keyframes border-after {
  0%,
  24.99% {
    width: 0;
    height: 0;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  25% {
    width: 0;
    height: 0;
    border-left-color: transparent;
    border-bottom-color: $color;
  }
  37.49% {
    border-left-color: transparent;
    border-bottom-color: $color;
  }
  37.5% {
    height: 0;
    width: 100%;
    border-left-color: $color;
    border-bottom-color: $color;
  }
  50%,
  100% {
    width: 100%;
    height: 100%;
    border-left-color: $color;
    border-bottom-color: $color;
  }
}

@keyframes red {
  0%,
  50% {
    width: 0;
    opacity: 0;
  }
  50.01% {
    opacity: 1;
  }
  65%,
  100% {
    opacity: 1;
    width: $redWidth;
  }
}

@keyframes orange {
  0%,
  65% {
    height: 0;
    opacity: 0;
  }
  65.01% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 1;
    height: $orangeHeight;
  }
}

@keyframes white {
  0%,
  75% {
    width: 0;
    opacity: 0;
  }
  75.01% {
    opacity: 1;
  }
  90%,
  100% {
    opacity: 1;
    width: $whiteWidth;
  }
}

// glitch effect

// .glitch {
//   color: white;
  
//   position: relative;
//   width: 40px;
//   margin: 0 auto;
// }
// @keyframes noise-anim {
//   $steps: 20;
//   @for $i from 0 through $steps {
//     #{percentage($i*(1/$steps))} {
//       $top: random(100);
//       $bottom: random(101 - $top);
//       clip-path: inset(#{$top}% 0 #{$bottom}%  0);
//     }
//   }
// }
// .glitch::after {
//   content: attr(data-text);
//   position: absolute;
//   left: 2px;
//   text-shadow: -1px 0 red;
//   top: 0;
//   color: white;
//   overflow: hidden;
//   animation: noise-anim 2s infinite linear alternate-reverse;
// }

// @keyframes noise-anim-2 {
//   $steps: 20;
//   @for $i from 0 through $steps {
//     #{percentage($i*(1/$steps))} {
//       $top: random(100);
//       $bottom: random(101 - $top);
//       clip-path: inset(#{$top}% 0 #{$bottom}%  0);
//     }
//   }
// }
// .glitch::before {
//   content: attr(data-text);
//   position: absolute;
//   left: -2px;
//   text-shadow: 1px 0 blue;
//   top: 0;
//   color: white;
//   overflow: hidden;
//   animation: noise-anim-2 15s infinite linear alternate-reverse;
// }
