<div class="container">
  <h1 class="vhs-message">Highlights</h1 >
    <span><button routerLink="/home" 
      style="background: #b33125;
      text-align: center;"
      >
      <span><mat-icon> keyboard_backspace</mat-icon></span>
      </button></span>
  <div class="row" *ngFor="let row of images">
    <div class="col-md-4" *ngFor="let image of row">
      <div (deferLoad)="image.show = true">
        <img *ngIf="image.show" src="assets/highlights/h ({{image.id}}).jpg">
      </div>
    </div>
  </div>
</div>